:root {
  --White: hsl(0, 100%, 100%);
  --Purple_100: hsl(275, 100%, 97%);
  --Purple_600: hsl(292, 16%, 49%);
  --Purple_950: hsl(292, 42%, 14%);
}
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--Purple_100);
}
@media (max-width: 768px) {
  .back {
    background-image: url(img/background-pattern-mobile.svg);
  }
  .card {
    margin: 0 20px;
  }
  .question {
    max-width: 87%;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.back {
  width: 100%;
  height: 30vh;
  position: absolute;
  z-index: -1;
  background-image: url(img/background-pattern-desktop.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.container .card {
  z-index: 2;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;

  background-color: var(--White);
  padding: 20px;
}
.container .card .titel {
  display: flex;
  gap: 15px;
  font-size: 24px;
}
ul {
  padding: 10px;
  margin: 0;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
}
ul li:not(:first-child) {
  border-top: 1px solid #ddd;
}
.question {
  display: block;
  border: none;
  background: no-repeat;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  text-align: start;
}
.question:hover {
  color: var(--Purple_600);
}
.answer {
  font-size: 14px;
  color: var(--Purple_950);
  display: none;
}
.control {
  display: flex;
}
img.minus {
  cursor: pointer;
  min-width: 20px;
  display: none;
}
img.puls {
  cursor: pointer;
  min-width: 20px;
}

li.active .answer {
  display: block;
  margin-top: 15px;
}
li.active img.puls {
  display: none;
}
li.active img.minus {
  display: block;
}
